.navbar
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar(data-target='.nav-collapse' data-toggle='collapse')
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand(href='/') WebSocket
      .container.nav-collapse
        %ul.nav
          %li= link_to 'WebRTC', webrtc_index_path
        .container-fluid.pull-right
          %ul.nav
            - if user_signed_in?
              %li
                %h5= "Hello, #{current_user.name}"
              %li= link_to 'Logout', destroy_user_session_path, method: :delete
              %li= link_to 'Edit account', edit_user_registration_path
            - else
              %li= link_to 'Login', login_path, remote: true
              %li= link_to 'Sign up', new_user_registration_path
